<form [formGroup]="form">
  <label
    >Channel name:
    <input type="text" formControlName="channel" required />
  </label>
  <label
    >RSS link:
    <input type="text" formControlName="link" required />
  </label>

  <button type="submit" [disabled]="!form.valid" (click)="add()">Add</button>
</form>

<div *ngFor="let channel of channels">
  <input type="checkbox" [defaultChecked]="channel.visible" (click)="update(channel.id, $event)" >
  <div>{{ channel.channel }}</div>
  <div>{{ channel.link }}</div>
  <button type="submit" (click)="remove(channel.id)">Delete</button>
</div>
