<div class="favorites">
  <div *ngIf="!favorites.length" class="empty">
    <img alt="empty" src="../../assets/empty.png" />
  </div>
  <div *ngFor="let favorite of favorites" class="window">
    <div class="title-bar">
      <div class="title-bar-text">{{ favorite.title }}</div>
      <div class="title-bar-controls">
        <button aria-label="Close" (click)="remove(favorite.id)"></button>
      </div>
    </div>
    <div class="window-body">
      <div>
        <a [href]="favorite.link" rel="noopener noreferrer" target="_blank">{{ favorite.link }}</a>
      </div>
    </div>
  </div>
</div>
